# Path to the directory that contains the css files to be processed.
# Note that directories containing CSS and image files must be writeable
# Path can be either absolute, e.g. c:/myproject/web or relative
# to the directory in which this script is run.
root.dir.path=test/real-world-example

# Suffix to be appended to the processed CSS file name
css.file.suffix=-sprite

# How generated CSS properties should be indentend (default: two spaces)
css.property.indent=  
