#
# Path to the directory that contains the css files to be processed.
# Directories containing CSS and image files must be writable, unless output.dir.path is 
# provided. The root.dir.path can be either absolute, e.g. c:/myproject/web or relative
# to the directory in which this script is run.
#
root.dir.path=test/real-world-example

#
# Output directory for processed CSS files and CSS-relative sprite images. The directory 
# structure relative to root.dir.path will be preserved in the output directory. E.g. if CSS
# files are contained in the css/base directory of root.dir.path, the processed results
# will be written to output.dir.path/css/base. Also, CSS-relative sprite images will be
# written to the output directory. Sprite images with document-root-relative URLs will be 
# written relative to the document.root.dir.path. 
#
# If the output.dir.path directory does not exist, it will be created.
#
# You can leave this property empty, in which case the CSS files will be written next
# to the original CSS files with css.file.suffix, and sprite images will be written
# relative to CSS files.
#
# If you are using a non-empty output.dir.path, you might want to use an empty css.file.suffix.
#
output.dir.path=

#
# Document root path for document-root-relative (starting with '/') image urls in CSS.
# All such image URLs will be taken relative to document.root.dir.path. Also 
# document-root-relative sprite URLs will be written relative to document.root.dir.path.
# You can leave this property empty if your CSS uses only CSS-relative image URLs.
#
document.root.dir.path=

#
# Message logging level. If you're getting lots of INFO messages and
# want to see only warnings, set this option to WARN.
#
log.level=INFO

#
# Suffix to be appended to the processed CSS file name
#
css.file.suffix=-sprite

#
# How generated CSS properties should be indented (default: two spaces)
#
css.property.indent=  

sprite.image.always-full-color=false

sprite.image.indexed-color-for-ie6=true