/**
 * A test case for multiple references to the same image. 
 */

/** sprite: test; sprite-image: url('../img/sprite.png'); sprite-layout: horizontal */
div.web {
  width: 17px;
  height: 17px;
  background-image: url(../img/web.gif); /** sprite-ref: test */
}

div.web2 {
  width: 17px;
  height: 17px;
  background-image: url(../img/web.gif); /** sprite-ref: test */
}
