/**
 * A simple horizontal sprites test.
 */

div.logo {
  background-image: url('../img/sprite-horizontal.png');
  background-position: -0px center;
}

div.logo {
  background-image: url('../img/sprite-vertical.png');
  background-position: center -0px;
}
